:root {
  --tg-theme-bg-color: #ffffff;
  --tg-theme-text-color: #000000;
  --tg-theme-hint-color: #888888;
  --tg-theme-link-color: #0078ff;
  --tg-theme-button-color: #0078ff;
  --tg-theme-button-text-color: #ffffff;
  --tg-theme-secondary-bg-color: #f2f2f2;
}

/* Применение стилей к разметке */
body {
  background-color: var(--tg-theme-secondary-bg-color) !important;
  color: var(--tg-theme-text-color) !important;
}



.card,
.card-header,
.form-control {
  background-color: var(--tg-theme-bg-color) !important;
  color: var(--tg-theme-text-color) !important;
}

.btn-number {
  /* background-color: var(--tg-theme-button-color) !important;
  color: var(--tg-theme-button-text-color) !important; */
  border: none !important;
}

.quick-select-button,
.form-check-input:checked {
  background-color: var(--tg-theme-button-color) !important;
  color: var(--tg-theme-button-text-color) !important;
  border: var(--tg-theme-button-color) !important;
}



/* Не имеет отношения к стилю */
.input-number {
  max-width: 100px;
  text-align: center;
}

#reminderInputContainer {
  display: none;
}

.card {
  margin-top: 5px;
}


.input-group-text {
  padding: 0.4rem 0.35rem !important;
  background-color: transparent !important;
  border: none !important;
}
